body{
	 background-color:aqua;
.spacer{
	     margin-top: 20px;
		 margin-left: 20px;
}

.a{
    text-align: center;
}

header{
	height:90px;
	background-color:green;
	font-size: 20px;
	color:white;
	text-align:center;
	float:top;
}
